body {
  background-color: lightgray;
  background-image: url(/img/background.jpg);
  background-blend-mode: multiply;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40%;
  background-size: cover;
}

main {
  background-color: #fff;
  padding: 30px;
  width: 50%;
  border-radius: 10px;
}

main form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "user user email email"
    "senha senha repsenha repsenha"
    "sexo sexo data data"
    "termos termos termos termos";
  grid-gap: 1rem;
}

main form .form-group {
  display: flex;
  flex-direction: column;
}

main form .user {
  grid-area: user;
}

main form .senha {
  grid-area: senha;
}

main form .repsenha {
  grid-area: repsenha;
}

main form .email {
  grid-area: email;
}

main form .data {
  grid-area: data;
}

main form .sexo {
  grid-area: sexo;
}

main form .termos{
  grid-area: termos;
}